@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --titleBold: 700;
  --PRegular: 400;
  --Bold: 600;
  --medium: 500;
  --ExtraBold: 800;
}

h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.25rem;
}
h3 {
  font-size: 1rem;
}
